<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bolos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar showCancelButton="focus"></ion-searchbar>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://i.pinimg.com/originals/f6/70/9e/f6709ec7a28a033bbff363bd9d36fad2.jpg">
    </ion-thumbnail>
    <ion-label>Cake purple</ion-label>
    <ion-badge color="medium">45,00</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://i.pinimg.com/736x/91/9c/d8/919cd814cea1a0d5bddc5ba2cbe20173.jpg">
    </ion-thumbnail>
    <ion-label>Cake Strawberry</ion-label>
    <ion-badge color="medium">74,00</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://i.pinimg.com/736x/32/ef/24/32ef246313b215d3539db2bb166d40e7.jpg">
    </ion-thumbnail>
    <ion-label>Cake Carrot</ion-label>
    <ion-badge color="medium">68,00</ion-badge>
  </ion-item>

</ion-content>
